<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Groupomania" content="Reseau social d'entreprise">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./media.css">

    <title>Profil user</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <img class="formatImg" src="./logos/logoGM.png" alt="Logo Groupomania">
            <div>
               <a href="./index.html"><button (click)="onBack()" class="control-buttons"><i class="fas fa-arrow-left"></i></button></a>
            </div>
        </nav>
    </header>
    <!-- HEADER -->

    <!-- USER PROFIL-->
    <main>
        <div class="user-container">
            <img [src]="user?.imageUrl" alt="">
            <div class="user-info">
                <h1 class="user-name">{{ user?.name }}</h1>
                <h3>email:</h3>
                <p>{{ user.email }}</p>
                <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
                <button (click)="onModify()" *ngIf="userId === publie.userId"><i class="fas fa-camera"> Edit
                        avatar</i></button>
                <button (click)="onDelete()" *ngIf="user === profil.user" class="control-buttons"><i
                        class="fas fa-user-slash"></i> Delete profil</i></button>
            </div>
        </div>
    </main>
    <!-- USER PROFIL -->


    <!-- FOOTER -->
    <footer>
        <div>© 2021 Copyright:
            <a href="https://groupomania.com/"> Groupomania.com</a>
        </div>
    </footer>
    <!-- FOOTER -->
</body>