<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Groupomania" content="Reseau social d'entreprise">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./media.css">

    <title>Groupomania sign up</title>
</head>

<body>
    <!-- SIGN UP -->
    <form method="post" id="formulaire">
        <div class="form">
            <div class="overlay">
                <div class="con">
                    <header class="head-form">
                        <img class="formatImg" src="./logos/logoGM.png" alt="Logo Groupomania">
                        </h2>
                    </header>
                    <form [formGroup]="signupForm">
                        <div class="form-group">
                            <input type="file" accept="images/*" #imageInput (change)="onFileAdded($event)">
                            <img [src]="imagePreview" *ngIf="imagePreview"
                                style="max-height: 100px;display:block;margin-top:10px">
                        </div>
                        <div class="form-group">
                            <label for="pseudo"></label>
                            <input class="form-input"  type="pseudo" class="form-control" id="pseudo" formControlName="pseudo" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <label for="email"></label>
                            <input class="form-input" type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="password"></label>
                            <input class="form-input" type="current-password" class="form-control" id="password" formControlName="password" placeholder="Password">
                        </div>

                           <button class="btn btn-lg btn-success" [disabled]="signupForm.invalid"(click)="onSignup()">Register me !</button>
                        <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
                    </form>
                </div>
            </div>
        </div>
    </form>
    <!-- SIGN UP -->

<!-- FOOTER -->
<footer>
    <div>© 2021 Copyright:
        <a href="https://groupomania.com/"> Groupomania.com</a>
    </div>
</footer>
<!-- FOOTER -->
</body>

</html>